
﻿
<body>
    <img id="backgroundPic" src="..\Pictures\Dossier.png" alt="yooooo" />
    <p>
        <img id="foregroundPic" src="..\Pictures\secret1.png" alt="yooooo" />
    </p>
</body>

<style>
    .container body-content {
        position: fixed;
    }
    #backgroundPic{
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:auto;
        z-index:-1;
    }
    #foregroundPic {
        position:fixed;
        background-size: contain;
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
   

</style>