
@{
    ViewBag.Title = "UserProfile";
}

<h2>User Profile</h2>

<p>Please fill out this form so we may direct you to the proper mentor</p>

<form action="../Home/UserInfo" method="post">

    <input type="text" name="FirstName" placeholder="First Name" required /><br />
    <input type="text" name="LastName" placeholder="Last Name" required /><br />
    <input type="text" name="SuperPower" placeholder="Super Powers" /><br />
    
    Hero: <input type="radio" name="Discontinued" value="Hero" />
    Villain: <input type="radio" name="Discontinued" value="Villain" />


    <input type="submit" class="btn-block" value="Get Mentor" />



</form>