@using FinalProject.Models


@{
    ViewBag.Title = "UserInfo";
}

<h2>User Info</h2>
<div class="col-md-3" id="ProductBox">
    <h3>@Model.SuperName</h3>
    <p>Superpower: @Model.SuperPower</p>
    @if (Model.C_Hero_Villain_ == true)
    {
        <p>Hero/Villain: Hero</p>
    }
    else
    {
        <p>Hero/Villain: Villain</p>
    }
    <p>Mentor: @Model.Mentor.Name</p>
</div>