
@{
    ViewBag.Title = "TestAlgorithm";
}

<h3>The Ability: @ViewBag.Ability</h3>

<h3>The Crime: @ViewBag.Name</h3>
<h3>The State with Highest rate of that crime: @ViewBag.State.State</h3>


<h3>Crime Rate (per 100K): @ViewBag.Max</h3>